<div class="row">
    <div class="col-md-4">
<form>
    <div class="form-container">
      <div class="row columns login-box">
        <h2 class="tituloall">CARGA DE CEDULAS</h2>
        <label>Carpeta asignada para carga de cedulas 
          <input type="text">
          <div class="alert"  ></div>
        </label> 
        <label>Carpeta asignada para carga de cedulas procesadas
          <input type="text">
          <div class="alert" ></div>
        </label>  
        <div class="callout warning" > </div>   
        <input type="button" class="button button-login expanded cancel" value="CANCELAR">
        <input type="submit" class="button button-login expanded update" value="ACTUALIZAR">
      </div>
    </div>
  </form>
  </div>
</div>