<div class="row">
    <h2>CARGA DE EXCEL</h2>
    <div class="col-md-12">
       <div class="col-md-4">
          <label>
             Cedula
             <input type="text">
             <div class="alert"></div>
          </label>
       </div>
    </div>
    <div class="col-md-12">
       <div class="col-md-4">
          <label>
             Cedula
             <select>
                <!-- <option *ngFor="let user of lUsers" [ngValue]="user">
                   {{user.Name}}
                   </option>-->
             </select>
          </label>
       </div>
       <div class="col-md-4">
          <label>
             Tipo
             <select>
                <!-- <option *ngFor="let user of lUsers" [ngValue]="user">
                   {{user.Name}}
                   </option>-->
             </select>
          </label>
       </div>
       <div class="col-md-4">
          <label>
             Autorizado
             <select>
                <!-- <option *ngFor="let user of lUsers" [ngValue]="user">
                   {{user.Name}}
                   </option>-->
             </select>
          </label>
       </div>
    </div>
    <div class="col-md-12">
       <div class="col-md-12">
          <input *ngIf="config.filtering" placeholder="Buscar"
          [ngTableFiltering]="config.filtering"
          class="form-control"
          (tableChanged)="onChangeTable(config)"/>
          <br>
          <ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
          </ng-table>
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
             <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Primero</a>
             </li>
             <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
             </li>
             <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
             <a (click)="setPage(page)">{{page}}</a>
             </li>
             <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Siguiente</a>
             </li>
             <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Ultimo</a>
             </li>
          </ul>
          <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
       </div>
       
        <div class="col-md-4">
          <input type="button" class="button button-login expanded cancel" value="CANCELAR">
          <input type="submit" class="button button-login expanded update" value="CARGAR">
        </div>
     </div>
 </div>