<div class="row">
   <h2>AUTORIZACIONES</h2>
   <div class="col-md-12">
      <div class="col-md-4">
         <h3 class="titulos-segundo">Cargar Excel</h3>
         <div class="col-md-2 left25">
               <a routerLink="/index/cargar-excel" routerLinkActive="active"><span class="glyphicon glyphicon-folder-close font-grande" aria-hidden="true"></span></a>
         </div>
         <div class="col-md-2 navbar-right flechasposicionleft">
            <img src="../../../assets/flechas.png" class="imgflachaleft" alt="">
         </div>
      </div>
      <div class="col-lg-4 center-col">
         <h3 class="titulos-segundo">Detalles de lotes por procesar</h3>
         <input *ngIf="config.filtering" placeholder="Filtrar todas las columnas"
         [ngTableFiltering]="config.filtering"
         class="form-control"
         (tableChanged)="onChangeTable(config)"/>
         <br>
         <ng-table [config]="config"
         (tableChanged)="onChangeTable(config)"
         (cellClicked)="onCellClick($event)"
         [rows]="rows" [columns]="columns">
         </ng-table>
         <!-- pager -->
         <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
               <a (click)="setPage(1)">Primero</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
               <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
               <a (click)="setPage(pager.currentPage + 1)">Siguiente</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
               <a (click)="setPage(pager.totalPages)">Ultimo</a>
            </li>
         </ul>
         <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
         <div style="display: block;">
            <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
         </div>
         <table class="table table-responsive table-condensed">
            <tr>
               <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
               <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
         </table>
         <input type="button" class="button button-login expanded update" (click)="randomize()" value="INICIAR">
         
      </div>
      <div class="col-md-4">
         <h3 class="titulos-segundo">Reportes</h3>
         <div class="col-md-2 flechasposicionright">
            <img src="../../../assets/flechas.png" alt="">   
         </div>
         <div class="col-md-2 left15">
            <span class="glyphicon glyphicon-file font-grande" aria-hidden="true"></span>
         </div>
      </div>
   </div>
   </div>